<div className="container">
    <div className="row">
        <div className="col-md-12">
            <h1>Any of them have been tested positive?<br /></h1>
        </div>
    </div>
    <div className="row" style={{ marginTop: "2em" }}>
        <div className="col-md-3 col-md-offset-2 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
            <button className="btn btn-primary btn-block btn-lg" type="button">No</button>
            <div className="visible-xs-block visible-sm-block" style={{ marginTop: "2em" }}></div>
        </div>
        <div className="col-md-3 col-md-offset-2 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
            <button className="btn btn-primary btn-block btn-lg" type="button">Yes</button>
        </div>
    </div>
</div>