<div className="container">
    <div className="row">
        <div className="col-md-12">
            <h1>Where do you live?<br /></h1>
        </div>
    </div>
    <div className="row">
        <div className="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
            <input type="text" id="name" className="form-control" placeholder="Country" required="" autoFocus="" />
        </div>
    </div>
    <div className="row" style={{ marginTop: "0.5em" }}>
        <div className="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
            <input type="text" id="name" className="form-control" placeholder="ZIP code" required="" />
        </div>
    </div>
    <div className="row">
        <div className="col-md-12">
            <h1>How many people live in your house?</h1>
        </div>
    </div>
    <div className="row">
        <div className="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
            <input type="number" id="age" className="form-control" min="0" max="15" value="0" required="" />
        </div>
    </div>
    <div className="row" style={{ marginTop: "2em" }}>
        <div className="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
            <button className="btn btn-primary btn-block" type="button" disabled="">Next</button>
        </div>
    </div>
</div>