<div className="container">
    <div className="row">
        <div className="col-md-12">
            <h1>Hello, how should we call you?<br /></h1>
        </div>
    </div>
    <div className="row">
        <div className="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
            <input type="text" id="name" className="form-control" placeholder="Please write your name here" />
        </div>
    </div>
    <div className="row">
        <div className="col-md-12">
            <h2>What is your age?</h2>
        </div>
    </div>
    <div className="row">
        <div className="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
            <input type="number" id="age" className="form-control" min="0" max="120" />
        </div>
    </div>
    <div className="row" style={{ marginTop: "2em" }}>
        <div className="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
            <button className="btn btn-primary btn-block" type="button" disabled="">Let's get started</button>
        </div>
    </div>
</div>