h1 {
    text-align: center;
}

body {
    height: 100vh;
    background-color: #62A9FF;
    color: #FFF;
}

.valign {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.button {
    text-align: center;
}

/* form .button.action button {
    padding: 3em;
} */

.smileys {
    text-align: center;
    font-size: 7em;
    text-shadow: 0px 0px 10px rgba(5, 5, 5, 0.5);
}

.smileys .bad {
    color: #FF7575
}

.smileys .ok {
    color: #FFFFAA;
}

.smileys .good {
    color: #27DE55;
}